---
import Layout from "../../layouts/Layout.astro";
import HeaderPage from "../../components/HeaderPage.astro";
import CodeDisplay from "../../components/CodeDisplay.astro";
import CodeSection from "../../components/CodeSection.astro";
---

<Layout title="Navegación" navbar={true}>
  <HeaderPage title="Componentes" titleColor="Tabs">
    En esta página encontrarás un tipo de Tab para la navegación dentro de una
    vista.
  </HeaderPage>

  <main class="content">
    <div class="flex flex-col gap-8">
      <CodeSection title="Tab">
        <CodeDisplay
          id="solid-buttons"
          descripHTMl="Estático  | <strong>btn-base ...</strong>"
          descripBlade="Dinámico | <strong>titles*</strong> | [title, content]"
          htmlCode={`<div class="mt-4 ">
    <div class="">
        <nav class="grid gap-0 md:gap-2 md:grid-cols-3 grid-cols-1">
            <button data-parent="tab1" class="navItem py-4 px-6 text-center btn-base btn-spc-2">
                Profile
            </button>
            <button data-parent="tab2" class="navItem py-4 px-6 text-center btn-base btn-spc-2">
                Dashboard
            </button>
            <button data-parent="tab3" class="navItem py-4 px-6 text-center btn-base btn-spc-2">
                Settings
            </button>
        </nav>
    </div>
        
    <div id="container" class="py-6 box-4">
        <div class="hidden tabContent " data-child="tab1">
            <div class="mb-4">
                <h4 class="text-lg font-bold text-gray-700">Tab 1 Content</h4>
                <p class="text-gray-500">This is the content for Tab 1.</p>
            </div>
        </div>
        
        <div class="hidden tabContent " data-child="tab2">
            <div class="mb-4">
                <h4 class="text-lg font-bold text-gray-700">Tab 2 Content</h4>
                <p class="text-gray-500">This is the content for Tab 2.</p>
            </div>
        </div>
        
        <div class="hidden tabContent " data-child="tab3">
            <div class="mb-4 ">
                <h4 class="text-lg font-bold text-gray-700">Tab 3 Content</h4>
                <p class="text-gray-500">This is the content for Tab 3.</p>
            </div>
        </div>
    </div>
</div>

<script>
    let tabs = document.querySelectorAll(".navItem");
    let tabsContent = document.querySelectorAll(".tabContent");

    // Eventos
    tabs.forEach((tab) => {
      console.log(tab);
      tab.addEventListener("click", () => {
        // Elimina la clase 'active' de todos los botones
        tabs.forEach((tab) => {
          tab.classList.remove("submit");
          tab.classList.add("btn-spc-2");
        });

        // Agrega la clase 'active' al botón clickeado
        tab.classList.add("submit");
        tab.classList.remove("btn-spc-2");

        // Obtiene el nombre de la pestaña desde data-parent
        const tabName = tab.getAttribute("data-parent");

        // Oculta todos los contenidos de las pestañas
        tabsContent.forEach((content) => {
          content.classList.add("hidden");
        });

        // Muestra el contenido que corresponde al botón clickeado
        const activeContent = document.querySelector(
          \`.tabContent[data-child="\${tabName}"]\`
        );

        if (activeContent) {
          activeContent.classList.remove("hidden");
        }
      });
    });

    // Activa el primer tab por defecto al cargar la página
    if (tabs.length > 0) {
      tabs[0].click(); // Simula un clic en el primer tab
    }
  </script>`}
          bladeCode={`<x-tabs.layout clases="gap-0 md:gap-2 md:grid-cols-3 grid-cols-1">

    <x-slot name="nav">
        <x-tabs.title :title="'Tab 1'" :name="'tab1'" />
        <x-tabs.title :title="'Tab 2'" :name="'tab2'" />
        <x-tabs.title :title="'Tab 3'" :name="'tab3'" />
    </x-slot>
          
    <x-tabs.content name="tab1">
        <p>Tab 1 cuerpo</p>
    </x-tabs.content>
          
    <x-tabs.content name="tab2">
        <p>Tab 2 cuerpo</p>
    </x-tabs.content>
          
    <x-tabs.content name="tab3">
        <p>Tab 3 cuerpo</p>
    </x-tabs.content>
          
</x-tabs.layout>
          `}
        />
      </CodeSection>
    </div>
  </main>

  <script>
    let tabs = document.querySelectorAll(".navItem");
    let tabsContent = document.querySelectorAll(".tabContent");

    // Eventos
    tabs.forEach((tab) => {
      console.log(tab);
      tab.addEventListener("click", () => {
        // Elimina la clase 'active' de todos los botones
        tabs.forEach((tab) => {
          tab.classList.remove("submit");
          tab.classList.add("btn-spc-2");
        });

        // Agrega la clase 'active' al botón clickeado
        tab.classList.add("submit");
        tab.classList.remove("btn-spc-2");

        // Obtiene el nombre de la pestaña desde data-parent
        const tabName = tab.getAttribute("data-parent");

        // Oculta todos los contenidos de las pestañas
        tabsContent.forEach((content) => {
          content.classList.add("hidden");
        });

        // Muestra el contenido que corresponde al botón clickeado
        const activeContent = document.querySelector(
          `.tabContent[data-child="${tabName}"]`
        );

        if (activeContent) {
          activeContent.classList.remove("hidden");
        }
      });
    });

    // Activa el primer tab por defecto al cargar la página
    if (tabs.length > 0) {
      tabs[0].click(); // Simula un clic en el primer tab
    }
  </script>
</Layout>
